@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
// @font-face {
//     font-family: Futura;
//     src: url("../fonts/futura.ttf") format("opentype");
// }
@import '../node_modules/lightbox2/dist/css/lightbox.css';

@import 'hero';
@import 'sidebar';
@import 'about';
@import 'work';
@import 'contact';
@import 'footer';

.row {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  color: #262626;
}

.body-container {
  width: 100vw;
  overflow: hidden;
}

.center {
  text-align: center;
}
