.work {
  background-color: #f3f3f3;
  padding: 40px 0 60px 0;
  h1 {
    margin-bottom: 30px;
  }
  h2 {
    margin-top: 60px;
  }
  img {
    width: 90%;
    margin-top: 40px;
  }
  button {
    color: #fff;
    background-color: #262626;
    border: 1px solid #262626;
    border-radius: 2px;
    padding: 8px 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 5px;
    transition: 0.2s;
    &:focus {
      outline: none;
    }
    &:hover {
      color: #66b7bd;
      transition: 0.2s;
    }
  }
  p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
  }
  a, a:visited {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    font-size: 25px;
    transition: 0.2s;
    text-decoration: none;
    letter-spacing: 1px;
    &:hover {
      color: #66b7bd;
      transition: 0.2s;
    }
  }
  .grid-container {
    width: 1200px;
    display: block;
    margin: 0 auto;
  }
  .grid {
    // display: block;
    // margin: 0 auto;
    // width: 80%;

  }
  .paid, .portfolio {
    width: 550px;
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    // display: block!important;
    margin: 20px;
    .image-overlay {
      width: 550px;
      height: 275px;
      padding-top: 90px;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: 0.3s;
    }
    &:hover {
      .image-overlay {
        opacity: 1;
        transition: 0.3s;
      }
    }
  }
  .paid-1 {
    background-image: url('../img/hana.png');
  }
  .paid-2 {
    background-image: url('../img/ol-major.png');
  }
  .paid-3 {
    background-image: url('../img/hint.png');
  }
  .paid-4 {
    background-image: url('../img/fundio.png');
  }
  .paid-5 {
    background-image: url('../img/turing.png');
  }
  .paid-6 {
    background-image: url('../img/platinum.png');
  }
  .paid-7 {
    background-image: url('../img/fortune.png');
  }
  .paid-8 {
    background-image: url('../img/podsearch.png');
  }
  .paid-9 {
    background-image: url('../img/hm-the-king.png');
  }
  .paid-10 {
    background-image: url('../img/podsearch-2.png');
  }
  .paid-11 {
    background-image: url('../img/waiter-1.png');
  }
  .paid-12 {
    background-image: url('../img/waiter-2.png');
  }
  .paid-13 {
    background-image: url('../img/lucfest-schedule.png');
  }
  .paid-14 {
    background-image: url('../img/lucfest.png');
  }
  .paid-15 {
    background-image: url('../img/betsentiment.png');
  }
  .paid-16 {
    background-image: url('../img/demand-science.png');
  }
  .paid-17 {
    background-image: url('../img/bitfinding-tabs.png');
  }
  .paid-18 {
    background-image: url('../img/bitfinding-accordion.png');
  }
  .portfolio-1 {
    background-image: url('../img/jekyll.png');
  }
  .portfolio-2 {
    background-image: url('../img/business.png');
  }
  .portfolio-3 {
    background-image: url('../img/restaurant.png');
  }
  .portfolio-4 {
    background-image: url('../img/card.png');
  }
  .portfolio-5 {
    background-image: url('../img/travel.png');
  }
  .portfolio-6 {
    background-image: url('../img/shoes.png');
  }
  .portfolio-7 {
    background-image: url('../img/b-and-b-design.png');
  }
  .portfolio-8 {
    background-image: url('../img/farmers-market-design.png');
  }
  .portfolio-9 {
    background-image: url('../img/britecore.png');
  }
  .portfolio-10 {
    background-image: url('../img/ice-fox.png');
  }
  .portfolio-11 {
    background-image: url('../img/open-charity.png');
  }
  .portfolio-12 {
    background-image: url('../img/monster-game.png');
  }
  .portfolio-13 {
    background-image: url('../img/britecore-components.png');
  }
  .portfolio-14 {
    background-image: url('../img/terminal-login.png');
  }
  .portfolio-15 {
    background-image: url('../img/book-search.png');
  }
  .portfolio-16 {
    background-image: url('../img/create-ape.png');
  }
}

.lightbox {
  .lb-outerContainer {
    width: 90%!important;
    height: auto!important;
    .lb-container {
      width: 100%!important;
      height: auto!important;
      .lb-image {
        width: 100%!important;
        height: auto!important;
      }
    }
  }
}


// *************
// Media queries
// *************

@media (min-width: 1466px) {
  .work {
    .grid-container {
      width: 1400px;
    }
    .paid, .portfolio {
      width: 660px;
      height: 330px;
      .image-overlay {
        width: 660px;
        height: 330px;
        padding-top: 110px;
      }
    }
  }
}

@media (min-width: 1800px) {
  .work {
    .grid-container {
      width: 1700px;
    }
    .paid, .portfolio {
      width: 792px;
      height: 396px;
      .image-overlay {
        width: 792px;
        height: 396px;
        padding-top: 110px;
      }
    }
  }
}

@media (min-width: 2271px) {
  .work {
    .grid-container {
      width: 2050px;
    }
    .paid, .portfolio {
      width: 950px;
      height: 475px;
      .image-overlay {
        width: 950px;
        height: 475px;
        padding-top: 110px;
      }
    }
  }
}

@media (max-width: 1178px) {
  .work {
    .grid-container {
      width: 960px;
    }
    .paid, .portfolio {
      width: 440px;
      height: 220px;
      .image-overlay {
        width: 440px;
        height: 220px;
        padding-top: 70px;
      }
    }
  }
}

@media (max-width: 967px) {
  .work {
    .grid-container {
      width: 880px;
    }
    .paid, .portfolio {
      width: 396px;
      height: 198px;
      .image-overlay {
        width: 396px;
        height: 198px;
        padding-top: 60px;
      }
    }
  }
}

@media (max-width: 841px) {
  .work {
    .grid-container {
      width: 760px;
    }
    .paid, .portfolio {
      width: 336px;
      height: 168px;
      .image-overlay {
        width: 336px;
        height: 168px;
        padding-top: 50px;
      }
    }
  }
}

@media (min-width: 768px) {
  .work {
    .mobile-links {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .work {
    .grid-container {
      width: 590px;
    }
    .mobile-links {
      display: block;
      margin-top: -15px;
      margin-bottom: 20px;
      line-height: 1.8;
      a, a:visited {
        color: #262626;
        font-size: 15px;
      }
      p {
        color: #262626;
        font-size: 15px;
      }
    }
    .paid, .portfolio {
      width: 550px;
      height: 275px;
      .image-overlay {
        display: none;
      }
    }
  }
}

@media (max-width: 624px) {
  .work {
    .grid-container {
      width: 480px;
    }
    .paid, .portfolio {
      width: 440px;
      height: 220px;
    }
  }
}

@media (max-width: 516px) {
  .work {
    .grid-container {
      width: 400px;
    }
    .paid, .portfolio {
      width: 396px;
      height: 198px;
      margin: 20px 0;
    }
  }
}

@media (max-width: 430px) {
  .work {
    .grid-container {
      width: 356px;
    }
    .paid, .portfolio {
      width: 356px;
      height: 178px;
    }
  }
}

@media (max-width: 400px) {
  .work {
    .grid-container {
      width: 320px;
    }
    .paid, .portfolio {
      width: 320px;
      height: 160px;
    }
  }
}

@media (max-width: 350px) {
  .work {
    .grid-container {
      width: 288px;
    }
    .paid, .portfolio {
      width: 288px;
      height: 144px;
    }
  }
}
